# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.ReSharper
_ReSharper.*/

# Ignore build output
/bin/
/obj/

# Ignore packages
*.nupkg
/packages/

# Ignore misc
*.log
*.DS_Store
Thumbs.db
